.outer-wrapper {
  scrollbar-color: rgba(250, 4, 4, 0.377) rgba(255, 255, 255, 0.01);
  scrollbar-width: thin;
  -ms-overflow-style: none;
}

.outer-wrapper::-webkit-scrollbar-thumb:hover {
  height: 0.2px
}

.inner-wrapper:nth-of-type(1n+0) {
  background-color: transparent;
  border: none
}


